In [66]:
import pandas as pd

In [67]:
data = pd.read_csv(r'C:\Users\pieta\OneDrive\Bureau\box_office_prediction\box_office_prediction\Data\IMDB_Movies_Dataset.csv')

In [68]:
data.columns

Index(['Unnamed: 0', 'Title', 'Average Rating', 'Director', 'Writer',
       'Metascore', 'Cast', 'Release Date', 'Country of Origin', 'Languages',
       'Budget', 'Worldwide Gross', 'Runtime'],
      dtype='object')

In [69]:
data.shape
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [70]:
data

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,495,La comunidad,7.2,Álex de la Iglesia,"Jorge Guerricaechevarría, Álex de la Iglesia",NaN,"Carmen Maura, Eduardo Antuña, María Asquerino,...","September 29, 2000 (Spain)",Spain,Spanish,"€4,000,000 (estimated)","$290,754",1 hour 50 minutes
4985,496,The House of Fear,7.2,Roy William Neill,"Roy Chanslor, Arthur Conan Doyle",NaN,"Basil Rathbone, Nigel Bruce, Aubrey Mather, De...","March 16, 1945 (United States)",United States,English,NaN,NaN,1 hour 9 minutes
4986,497,Kurôzu zero II,7.2,Takashi Miike,"Hiroshi Takahashi, Shôgo Mutô",NaN,"Shun Oguri, Kyôsuke Yabe, Meisa Kuroki, Kenta ...","April 11, 2009 (Japan)",Japan,Japanese,NaN,"$29,893,636",2 hours 13 minutes
4987,498,La cage dorée,7.2,Ruben Alves,"Ruben Alves, Luc-Olivier Veuve, Jean-André Yerlès",NaN,"Rita Blanco, Joaquim de Almeida, Roland Giraud...","April 24, 2013 (France)",France,"French, Portuguese, English","€7,000,000 (estimated)","$17,871,370",1 hour 30 minutes
4988,499,Chingoo,7.2,Kwak Kyung-taek,Kwak Kyung-taek,NaN,"Yu Oh-seong, Jang Dong-gun, Seo Tae-hwa, Un-ta...","March 31, 2001 (South Korea)",South Korea,Korean,NaN,"$550,031",1 hour 53 minutes

In [71]:
def clean_data(data):
    # Drop duplicate rows across all columns
    data = data.drop_duplicates()
    # Drop column: 'Unnamed: 0'
    data = data.drop(columns=['Unnamed: 0'])
    return data

data_clean = clean_data(data.copy())
data_clean.head()

,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes